.mat-select {
  padding: 5px 10px;
  border: 1px solid #ced4da;
  border-radius: 3px;
}

.reordering-container {
  padding: 6px;
  background: #e8e8e8;
}

.accordion-button:not(.collapsed) {
  background-color: #ffffff;
}
